@import '../../assets/scss/common.scss';

.landing-container {
  height: 30rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .startBtn {
    background-color: $colorBlue;
    padding: 1rem 2rem;
    color: #fafafa;
    font-size: 2.5rem;
  }
}