@import '../../assets/scss/common.scss';

.app-header {
  color: $colorBlue;
  padding-top: 1rem;
  .logo {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    color: $colorBlue;
  }
}

.header {
  margin-bottom: 4rem;
  padding: 1rem 0 1rem 0;
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
}

.header-bar {
  margin-bottom: 4rem;
  .p-bar {
    &__step {
      text-align: center;
    }
  }
  .p-icon {
    font-size: 2.5rem;
    color: #808080;
    &--done {
      color: $colorGreen;
    }
  }
}